<div class="flex-container">
  <% @hash_data.each do |key, value| %>
    <div class="box">
      <span>
        <b><%= "#{value["secondary_currency"]}/#{value["primary_currency"]}" %></b>
      </span>
      <br />

      <%= convert_thb(value, @btc_bth) %>
      <br />

      <%= value["change"] %>%
    </div>
  <% end %>
</div>

<div class="box-content">
  <h1>
    Portfolios
  </h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Avg</th>
        <th>Volumn</th>
        <th>Cost</th>
        <th>Market</th>
        <th>Profit/Loss</th>
        <th>Commission</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td>
            <%= transaction[:symbol] %>
          </td>
          <td>
            <%= transaction[:avg] %>
          </td>
          <td>
            <%= transaction[:volumns] %>
          </td>
          <td>
            <%= default_number(transaction[:cost]) %>
          </td>
          <td>
            <%= default_number(transaction[:market_value]) %>
          </td>
          <td>
            <%= "#{default_number(transaction[:profit])} (#{default_number(transaction[:percent], '')}%)" %>
          </td>
          <td>
            <%= default_number(transaction[:commission]) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Total Cost</th>
        <th>Total Market</th>
        <th>Total Profit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= default_number(@total_cost) %>
        </td>
        <td>
          <%= default_number(@total_market) %>
        </td>
        <td>
          <%= default_number(@total_profit) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

